<!DOCTYPE html>
<html lang="en">
  <head>
    {% include '_head.html' %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">

    <!-- Template Title -->
    <title>About us</title>
  </head>
  <body>

    {% include "navbar.html" %}

<!-- ***** About me ***** -->

<section class="introduction">
  <div class="starcontainer">
    <h2>ABOUT US</h2>
    <i class="fa fa-star fa-2x"></i>
    <hr class="star"></hr>
  </div>
    <p>Top Quality Guidance</p>

    <p>AS Academy was founded in 2021 with one goal in mind: to develop study methods that will help as many students as possible achieve academic excellence. Our trusted learning techniques, along with our skilled, enthusiastic teachers and tutors, have ensured the success of hundreds of students.</p>
</section>

<section class="location">
    <h1>Our passion</h1>
    <p>We believe in putting the student first, providing customised strategies that work. We have a wide range of courses at different skills levels which can easily suit your schedule. Contact us today so we can help you build your brighter future.</p>
</section>

<section class="questions">
    <h1>More About Us</h1>
      <h2>More info here etc.</h2>
       <p>more info</p>
</section>


