{% extends '_base.html' %}

{% load static %}

{% block page_header_scripts %}
<title>Services</title>
{% endblock %}

{% block content %}
<style type="text/css">
  .choose_child{
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    margin: auto;
    display: none;
  }

  .choose_child .cross{
    text-align: right;
  }

  .choose_child .cross span{
    cursor: pointer;
  }

  .choose_child h3{
    position:  relative;
    top: 40%;
    text-align: center;
  }
</style>
<div class="container">
  <div class="row mt-4">
    <div class="col text-center">
      <h1>Our Services</h1>
      <p class="lead">We provide best educational services to you.</p>
    </div>
  </div>
  <div class="row d-flex">
    {% for course in courses %}
    <div class="" >
      <form id="form_{{course.course_id}}" action="/stripe_payment" method="POST" class="col-sm-2 col-md-3 col-lg-8 service card rounded border border-success">
        {% csrf_token %}
        <input type="hidden" name="course_id" value="{{course.course_id}}">
        <img class="card-img-top" src="{% static 'img/' %}{{forloop.counter}}.webp">
        <div class="card-body">
          <h5 class="card-title">{{ course.course_name }}</h5>
          <div class="card-text">
            <div class="d-flex justify-content-between">
              <p>Course starts at: {{ course.course_starts_at }}</p>
              <p>{{currency}}{{ course.course_price }}</p>
            </div>
            <input type="button" class="btn btn-primary w-100 booknow" value="Book Now">
          </div>
        </div>
        <div id="choosechild_{{course.course_id}}" class="choose_child card card-img-overlay">
          <div id="cross_{{course.course_id}}" class="cross"><span>&times;</span></div>
          {% if request.user.is_authenticated %}
            {% if children_count %}
              {% if course.students %}
                <ul>
                  {% for child in course.students %}
                    <li>
                      <input type="checkbox" name="children" class="child_{{course.course_id}}"  value={{child.id}}>&nbsp;{{child.profile.first_name}} {{child.profile.last_name}}
                    </li>
                  {% endfor %}
                </ul>
                <input type="submit" class="btn btn-success proceed" value="Proceed">
              {% else %}
                <h3>
                  All your children are already enrolled in this course
                  <br>
                  <a class="btn btn-info" href="/addchild">Add child</a>
                </h3>
              {% endif %}
            {% else %}
              <h3>You need to add a child first. <a class="btn btn-primary" href="/addchild">Add child</a></h3>
            {% endif %}
          {% else %}
            <h3>You need to be logged in to buy a course <a class="btn btn-primary" href="/login">Redirect to login/signup page</a></h3>
          {% endif %}
        </div>
      </form>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
