{% extends '_base.html' %}

{% load static %}

{% block page_header_scripts %}
<title>Services</title>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row mt-4">
    <div class="col text-center">
      <h1>Our Services</h1>
      <p class="lead">We provide best educational services to you.</p>
    </div>
  </div>
  <div class="row d-flex">
    {% for item in items %}
      <div class="col-3 pl-4 pr-4 pb-4">
        <div class="card rounded border border-success">
          <img class="card-img-top" src="{% static item.img %}">
          <div class="card-body">
            <h5 class="card-title">{{ item.title }}</h5>
            <div class="card-text">
              <div class="d-flex justify-content-between">
                <p>{{ item.time }}</p>
                <p>{{ item.price }}</p>
              </div>
              <a class="btn btn-primary w-100" href="/booknow">Book Now</a>  
            </div>
          </div>
        </div>
      </div>
  {% endfor %}
  </div>
</div>
{% endblock %}
