{% extends '_base.html' %}

{% load static %}

{% block page_header_scripts %}
  <title>Home</title>
  <style>
    header#top {
        /* background: url("{% static 'images/header.png' %}") 50% 0 no-repeat fixed;
        background-size: cover; */
        background: #348F50;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #56B4D3, #348F50);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #56B4D3, #348F50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .contact{
        padding: 4%;
        height: 400px;
    }
    .col-md-3{
        background: #ff9b00;
        padding: 4%;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
    }
    .contact-info{
        margin-top:10%;
    }
    .contact-info img{
        margin-bottom: 15%;
    }
    .contact-info h2{
        margin-bottom: 10%;
    }
    .col-md-9{
        background: #fff;
        padding: 3%;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }
    .contact-form label{
        font-weight:600;
    }
    .contact-form button{
        background: #25274d;
        color: #fff;
        font-weight: 600;
        width: 25%;
    }
    .contact-form button:focus{
        box-shadow:none;
    }
  </style>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

{% endblock %}

{% block page_footer_scripts %}
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
  $(function() {
    $('.carousel-inner').slick();
});

</script>
{% endblock %}

{% block content %}
  <!-- ====== Header Section ====== -->
  <header id="top">
    <div class="bg-color">
      <div class="top section-padding">
        <div class="container">
          <div class="row">
            <div class="content row">
              <div class="col-sm-5">
                <h1><strong>AS</strong><strong> Academy</strong></h1>
                <h2>Giving Education a New Outlook</h2>
                <div class="button" id="download-app1">
                  <a href="/booknow" class="btn btn-default btn-lg custom-btn">Book online</a>
                </div> <!-- end .button -->
              </div>
              <div class="col">
                <img src="{% static 'img/background.png' %}" />
              </div>
              
              
            </div> <!-- end .content -->
          </div> <!-- end .top> .container> .row -->
        </div> <!-- end .top> .container -->
      </div> <!-- end .top -->
    </div> <!-- end .bg-color -->
  </header>
  <!-- ====== End Header Section ====== -->
  <!-- ====== Menu Section ====== -->
  <!-- ====== End Menu Section ====== -->
  <!-- ====== aboutApp Section ====== -->
  <!-- <div class="services">
    <h1>Our Services</h1>
    <div class="container ">
      <div class="service">
        <img src="https://static.wixstatic.com/media/11062b_6e438504ac3243628f5e612dcf994024~mv2.jpg/v1/fill/w_485,h_524,fp_0.50_0.50,q_80,usm_0.66_1.00_0.01/11062b_6e438504ac3243628f5e612dcf994024~mv2.webp">
        <h2>KS2 SATs Buster Duo Course</h2>
        <p>Started Sep 13<br>£250</p>
        <a class="btn btn-primary" href="/booknow">Book Now</a>
      </div>
      <div class="service">
        <img src="https://static.wixstatic.com/media/11062b_64d05b10dd3943f9bc6db8866cce5b4d~mv2.jpeg/v1/fill/w_485,h_524,fp_0.50_0.50,q_80,usm_0.66_1.00_0.01/11062b_64d05b10dd3943f9bc6db8866cce5b4d~mv2.webp">
        <h2>KS1 SATs Buster Duo Course</h2>
        <p>Started Sep 14<br>£250</p>
        <a class="btn btn-primary" href="/booknow">Book Now</a>
      </div>
      <div class="service">
        <img src="https://static.wixstatic.com/media/11062b_397fb34f0e3641aeb14a5e4c22feb4f3~mv2.jpg/v1/fill/w_485,h_524,fp_0.50_0.50,q_80,usm_0.66_1.00_0.01/11062b_397fb34f0e3641aeb14a5e4c22feb4f3~mv2.webp">
        <h2>1-to-1 English</h2>
        <p>1 hr<br>£25</p>
        <a class="btn btn-primary" href="/booknow">Book Now</a>
      </div>
      <div class="service">
        <img src="https://static.wixstatic.com/media/11062b_a35cebc135d247be962bb4995bd72472~mv2_d_3471_2305_s_2.jpg/v1/fill/w_485,h_524,fp_0.50_0.50,q_80,usm_0.66_1.00_0.01/11062b_a35cebc135d247be962bb4995bd72472~mv2_d_3471_2305_s_2.webp">
        <h2>1-to-1 Maths</h2>
        <p>1 hr<br>£25</p>
        <a class="btn btn-primary" href="/booknow">Book Now</a>
      </div>
      <div class="service">
        <img src="https://static.wixstatic.com/media/11062b_6e438504ac3243628f5e612dcf994024~mv2.jpg/v1/fill/w_485,h_524,fp_0.50_0.50,q_80,usm_0.66_1.00_0.01/11062b_6e438504ac3243628f5e612dcf994024~mv2.webp">
        <h2>1-to-1 Science</h2>
        <p>1 hr<br>£25</p>
        <a class="btn btn-primary" href="/booknow">Book Now</a>
      </div>
      <div class="service">
        <img src="https://static.wixstatic.com/media/11062b_397fb34f0e3641aeb14a5e4c22feb4f3~mv2.jpg/v1/fill/w_485,h_524,fp_0.50_0.50,q_80,usm_0.66_1.00_0.01/11062b_397fb34f0e3641aeb14a5e4c22feb4f3~mv2.webp">
        <h2>TutorPro 1-to-1 English</h2>
        <p>1 hr</p>
        <a class="btn btn-primary" href="/booknow">Book Now</a>
      </div>
      <div class="service">
        <img src="https://static.wixstatic.com/media/11062b_6e438504ac3243628f5e612dcf994024~mv2.jpg/v1/fill/w_485,h_524,fp_0.50_0.50,q_80,usm_0.66_1.00_0.01/11062b_6e438504ac3243628f5e612dcf994024~mv2.webp">
        <h2>TutorPro 1-to-1 Maths</h2>
        <p>1 hr</p>
        <a class="btn btn-primary" href="/booknow">Book Now</a>
      </div>
      <div class="service">
        <img src="https://static.wixstatic.com/media/401de055c6c54142a78816a93aefd906.jpg/v1/fill/w_485,h_524,fp_0.50_0.50,q_80,usm_0.66_1.00_0.01/401de055c6c54142a78816a93aefd906.webp">
        <h2>TutorPro 1-to-1 Science</h2>
        <p>1 hr</p>
        <a class="btn btn-primary" href="/booknow">Book Now</a>
      </div>
    </div>
  </div> -->
  <!-- ====== End aboutApp Section ====== -->
  <!-- ====== Features Section ====== -->
  <section id="features">
    <div class="features section-padding dark-bg">
      <div class="container">
        <div class="header">
          <h1>Our Courses</h1>
          <p>Study at AS Academy</p>
          <div class="underline">
          </div>
        </div>
        <div class="header">
          <h3 class="media-heading">11 PLUS COURSE FOR SCHOOLS</h3>
          <p>Exceed Your Expectations</p>
          <p> The 11 Plus Course is an excellent way for you to build upon existing academic foundations and learn additional skills that will ensure that you excel on your 11 Plus for Grammar and Private Schools. With flexible schedules, it is easy to find a course that suits your needs. Click to book a course now!</p>
        </div>
      </div>
    </div>
  </section>
  <!-- ====== End Features Section ====== -->
  <!-- ====== Screenshots Section ====== -->
  <section id="screenshots">
    <div class="screenshots section-padding">
      <div class="container">
        <div class="header">
          <h3 class="media-heading">SATS BUSTER COURSES FOR SCHOOLS</h3>
          <p>Reach Higher</p>
          <p>Learn how to beat those tricky questions and accelerate your academic capabilities with the SATs Buster Course. This bookable course is the perfect way to improve your skills, reduce testing anxiety, and boost your scores.</p>
          <div class="underline"></div>
        </div>
      </div> <!-- .container -->
    </div> <!-- end .screenshots -->
  </section>
  <!-- ====== End Screenshots Section ====== -->
  <!-- ====== Testimonial Section ====== -->
  <section id="testimonial">
    <div class="text-light bg-dark">
      <div class="testimonial section-padding">
        <div class="container">
          <div class="testimonial-slide">
            <div id="carousel-testimonial" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="item">
                  <div class="image">
                  </div> <!-- end .image -->
                  <div class="content">
                    <p>I love how this site has really allowed my daughter to achieve her full potential!</p>
                    <h4>Aliyah Shah</h4>
                  </div> <!-- end .content -->
                </div> <!-- end .item (1) -->
                <div class="item active left">
                  <div class="image">
                  </div> <!-- end .image -->
                  <div class="content">
                    <p>Due to our busy schedules, we were finding it hard to commit to a tutoring schedule. However, ever since we found this site, we have been able to affordably access SATs material as well as flexible tutoring, for our son without compromising our routine! I highly recommend AS Academy to anyone.</p>
                    <h4>Matthew Simms</h4>
                  </div> <!-- end .content -->
                </div> <!-- end .item (2) -->
                <div class="item next left">
                  <div class="image">
                  </div> <!-- end .image -->
                  <div class="content">
                    <p>Great site and really responsive tutors.</p>
                    <h4>Diane Halls</h4>
                  </div> <!-- end .content -->
                </div> <!-- end .item (3) -->
              </div> <!-- end .carousel-inner -->
            </div> <!-- end #carousel-testimonial -->
          </div> <!-- end .testimonial-slide -->
        </div> <!-- end .container -->
      </div> <!-- end .testimonial -->
    </div> <!-- end .bg-testimonial -->
  </section>
  <!-- ====== End Testimonial Section ====== -->
  <!-- ====== End Price Section ====== -->
  <button style="position: fixed;bottom: 0px;
    right: 0px;" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Contact us</button>
  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="row">
          <div class="col-md-3">
            <div class="contact-info">
              <img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image" />
              <h2>Contact Us</h2>
              <h4>We would love to hear from you !</h4>
            </div>
          </div>
          <div class="col-md-9">
            <div class="contact-form">
              <div class="form-group">
                <label class="control-label col-sm-2" for="fname">First Name:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="fname" placeholder="Enter First Name" name="fname">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="lname">Last Name:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="lname" placeholder="Enter Last Name" name="lname">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="email">Email:</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="comment">Comment:</label>
                <div class="col-sm-10">
                  <textarea class="form-control" rows="5" id="comment"></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
