{% extends '_base.html' %}

{% load static %}

{% block page_header_scripts %}
  <title>Home</title>

  
  <style>
    header#top {
        /* background: url("{% static 'images/header.png' %}") 50% 0 no-repeat fixed;
        background-size: cover; */
        background: #fbe1ff;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #fad8ff, #ffeefe);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #ffffff, #fefbff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .contact{
        padding: 4%;
        height: 400px;
    }
    .col-md-3{
        background: #ff9b00;
        padding: 4%;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
    }
    .contact-info{
        margin-top:10%;
    }
    .contact-info img{
        margin-bottom: 15%;
    }
    .contact-info h2{
        margin-bottom: 10%;
    }
    .col-md-9{
        background: #fff;
        padding: 3%;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }
    .contact-form label{
        font-weight:600;
    }
    .contact-form button{
        background: #25274d;
        color: #fff;
        font-weight: 600;
        width: 25%;
    }
    .contact-form button:focus{
        box-shadow:none;
    }
  </style>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

{% endblock %}

{% block page_footer_scripts %}
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
  $(function() {
    $('.carousel-inner').slick();
});

</script>
{% endblock %}

{% block content %}
  <!-- ====== Header Section ====== -->
  <header id="top">
    <div class="bg-color">
      <div class="top section-padding">
        <div class="container">
          <div class="row">
            <div class="content row">
              <div class="col-sm-5">
                <h1><strong>AS</strong><strong> Academy</strong></h1>
                <h2>Giving Education a New Outlook</h2>
                  <a href="#courses" class="btn-default btn-lg custom-btn">Book online</a>

               <!-- end .button -->
              </div>
              <div class="col">
                <img src="{% static 'img/background.png' %}" />
              </div>
              
              
            </div> <!-- end .content -->
          </div> <!-- end .top> .container> .row -->
        </div> <!-- end .top> .container -->
      </div> <!-- end .top -->
    </div> <!-- end .bg-color -->
  </header>
  <!-- ====== End Header Section ====== -->

  <div class="container my-5 services12">
    <section>
        <div class="text-center mb-5">
            <h2 class="font-weight-bold display-4 ">Excelling English, Mathematics  <br>and Science  <strong><span style="color: #EE9A8F">Tuition</span></strong></h2>
            <br>
            <h4>In our UK tuition centre and online platform.</h4>
            <br>
            <p> We provide tuition services for students between the ages of 7 and 16. GCSE, 11+ and 13+ preparation also provided for those studying for the ISEB and GL
               (Independent and Grammar School) tests. 
              We offer group tuition, starting at £10 an hour, with no commitment necessary; one-to-one with highly qualified individuals and online tutoring.
               We offer extensive preparation for upcoming tests catered to the student's requirements without cutting any corners, paving the path to success.</p>
        </div>
        <div class="row">
            <div class="col-md-4 my-2">
                <div class="px-3 my-5">
               
                  <a href="/about/#online" class=" btn-default btn-lg custom-btn2">Online</a>
                  <a href="/about/#centre" class=" btn-default btn-lg custom-btn3">Centre</a>
                </div>
            </div>
        </div>
    </section>
</div>
  <!-- ====== Menu Section ====== -->
  <!-- ====== End Menu Section ====== -->
 
       <!-- Services--> <div class="underline">
          </div>
       <section class="page-section services12" id="services">
        <div class="container">
          <div class="col d-flex justify-content-center">
            
            <br>
            <br>
            <br>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img class="img-fluid22" src="{% static 'images/up.png' %}" height="10px;" width="100px;" alt="..." />  
                                          </span>
                                          <br>
                                          <br>

                    <h4 class="my-3">Student progress</h4>
                    <p>Our trusted learning techniques, along with our skilled,
                      enthusiastic teachers   <br>and tutors, have ensured the  <br> success
                      of hundreds of students.
                      
                      </p>
                </div>
               
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img class="img-fluid23" src="{% static 'images/booky.png' %}"height="10px;" width="190px;" alt="..." />                        </span>
                    </span>
                    <br>
                    <br>
                
                    <h4 class="my-3">Success</h4>
                    <p>We believe in putting the  <br> student first, providing customised strategies that work.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img class="img-fluid24" src="{% static 'images/student.png' %}"height="10px;" width="120px;" alt="..." />                        </span>

                    </span>
                    <br>
                    <br>

                    <h4 class="my-3">Learning</h4>
                    <p>We have a wide range of  <br> courses at
                      different skills levels which  <br> can easily suit your schedule.
                     </p>
                </div>
            </div>
        </div>
    </section>



    <div class="container my-7 ">
      <section>
          <div class="mb-5">
              <h2 class="font-weight-bold display-4 text-left">Affordable <strong><span style="color: #EE9A8F">memberships</span></strong></h2>
              <br>
              <br>
              <p class="pplan"> We offer flexible plans for your family, the more children you<br> add to a plan, the cheaper the overall cost.</p>
              <br>     <br>
              <p class="pplan"> From only <strong><span style="color: #EE9A8F">£9.99 per month</span></strong></p>
              <br>      
              <a href="/planspricing" class="btn btn-default btn-lg custom-btn5">View memberships</a>
          </div>
          <div class="row">
              <div class="col-md-4 my-2">
                  <div class="px-3 my-5">
                 
                  </div>
              </div>
          </div>
      </section>
  </div>


  <div class="container my-8 ">
    <section>
        <div class="mb-5">
            <h2 class="font-weight-bold display-4 text-left">Track your <strong><span style="color: #EE9A8F">child's progress</span></strong></h2>
            <br>
            <br>
            <p class="pplan"> Signup for a parent account today, and keep a tracked history <br>of your child's progress (sent through email)</p>
            <br>
            <a href="/signup#" class="btn btn-default btn-lg custom-btn5">Signup for free</a>
        </div>
        <div class="row">
            <div class="col-md-4 my-2">
                <div class="px-3 my-5">
               
                </div>
            </div>
        </div>
    </section>
</div>
<img class="logo4" src="{% static 'images/kids.png' %}" alt="logo">
<div id="courses"></div>
  <!-- ====== Features Section ====== -->
  <br> <br> <br> <br>
  <div class="services0" >
  <img class="logo3" src="{% static 'images/tutorgopro.png' %}" alt="logo">
  <section id="features">
    <div class="features section-padding dark-bg">
      <div class="container">
        <div class="header">
          <h1 class="h1new">Our Courses</h1>
          <h3>Study at AS Academy</h3>
          <div class="underline2">
      </div>
    </div>
  </section>

  <div class="courses">
    <article class="course  services12">
      <div class="course-preview">
        <img class="course-img"
        src="{% static 'images/science.png' %}"
             alt>
      </div>
      <div class="course-info">
        <h3 class="course-name">Science GCSE course</h3>
        <div class="course-description">
          <p>
            Sharpen your science grades!
          </p>
        </div>
        <a href="/booknow" class="btn btn-default btn-lg custom-btn">Book this course</a>
      </div>
    </article>
    <article class="course  services12">
      <div class="course-preview">
        <img class="course-img"
        src="{% static 'images/maths.png' %}"
             alt>
      </div>
      <div class="course-info">
        <h3 class="course-name">Maths GCSE course</h3>
        <div class="course-description">
          <p>
            Raise your maths grades with this course!
          </p>
        </div>
        <a href="/booknow" class="btn btn-default btn-lg custom-btn">Book this course</a>
      </div>
    </article>
    <article class="course  services12">
      <div class="course-preview">
        <img class="course-img"
        src="{% static 'images/english.png' %}"
             alt>
      </div>
      <div class="course-info">
        <h3 class="course-name">English Language GCSE course</h3>
        <div class="course-description">
          <p>
            Achieve your English grades!
          </p>
        </div>
        <a href="/booknow" class="btn btn-default btn-lg custom-btn">Book this course</a>
      </div>
    </article>
    <article class="course  services12">
      <div class="course-preview">
        <img class="course-img"
        src="{% static 'images/11+.png' %}"
             alt>
      </div>
      <div class="course-info">
        <h3 class="course-name">11 PLUS COURSE FOR SCHOOLS</h3>
        
        <div class="course-description">
          <p>
            The 11 Plus Course is an excellent way for you to build upon existing academic foundations and learn additional skills that will ensure 
            that you excel on your 11 Plus for Grammar and Private Schools. With flexible schedules, it is easy to find a course that suits your needs. 
            Click to book a course now!
          </p>
        </div>
        <a href="/booknow" class="btn btn-default btn-lg custom-btn">Book this course</a>
      </div>
    </article>
    <article class="course  services12">
      <div class="course-preview">
        <img class="course-img"
        src="{% static 'images/SATS.png' %}"
             alt>
      </div>
      <div class="course-info">
        <h3 class="course-name">SATS BUSTER COURSES FOR SCHOOLS</h3>
        <div class="course-description">
          <p>
            Learn how to beat those tricky questions and accelerate your academic capabilities with the SATs Buster Course. 
            This bookable course is the perfect way to improve your skills, reduce testing anxiety, and boost your scores.
          </p>
        </div>
        <a href="/booknow" class="btn btn-default btn-lg custom-btn">Book this course</a>
      </div>
    </article>
    <br>
  </div>  </div>
  




  
  <!-- ====== End Screenshots Section ====== -->
  <div class="testimonials text-center">

    <div class="container">
      <h2>What parents have to say</h2>
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="card border-light bg-light text-center">
            <i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
            <div class="card-body blockquote">
              <p class="card-text">I love how this site has really allowed my daughter to achieve her full potential!</p>
              <footer class="blockquote-footer"><cite title="Source Title">Aliyah Shah</cite></footer>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="card border-light bg-light text-center">
            <i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
            <div class="card-body blockquote">
              <p class="card-text">Due to our busy schedules, we were finding it hard to commit to a tutoring schedule. However, ever since we found this site, we have been able to affordably access SATs material as well as flexible tutoring, for our son without compromising our routine! I highly recommend AS Academy to anyone.</p>
              <footer class="blockquote-footer"><cite title="Source Title">Matthew Simms</cite></footer>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="card border-light bg-light text-center">
            <i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
            <div class="card-body blockquote">
              <p class="card-text">Great site and really responsive tutors.</p>
              <footer class="blockquote-footer"><cite title="Source Title">Diane Halls</cite></footer>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
  
 
  <!-- ====== End Price Section ====== -->
  <button style="position: fixed;bottom: 0px;
    right: 0px;" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Contact us</button>
  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="row">
          <div class="col-md-3">
            <div class="contact-info">
              <img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image" />
              <h2>Contact Us</h2>
              <h4>We would love to hear from you !</h4>
            </div>
          </div>
          <div class="col-md-9">
            <div class="contact-form">
              <div class="form-group">
                <label class="control-label col-sm-2" for="fname">First Name:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="fname" placeholder="Enter First Name" name="fname">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="lname">Last Name:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="lname" placeholder="Enter Last Name" name="lname">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="email">Email:</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="comment">Comment:</label>
                <div class="col-sm-10">
                  <textarea class="form-control" rows="5" id="comment"></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
