{% extends '_base.html' %}

{% load static %}

{% block page_header_scripts %}
<title>Plans</title>
{% endblock %}

{% block content %}
<section id="price">
  <div class="price section-padding dark-bg">
    <div class="container">
      <!-- container -->
      <div class="header">
        <h1>Choose your pricing plan</h1>
        <div class="underline"></div>
      </div> <!-- end .container> .header -->
      <div class="row">
        <!-- outer row -->
        <div class="col-md-10 col-md-offset-1">
          <!-- col 10 with offset 1 to centered -->
          <div class="row">
            <!-- nested row -->
            <div class="col-md-6">
              <!-- Price table #1 -->
              <div class="panel panel-default price">
                <!-- pricing table wrapper -->
                <div class="panel-heading">Tutor Go</div>
                <div class="panel-body">
                  <h1><sup>£</sup>9.99<small>/ monthly</small></h1> <!-- Plan Price -->
                </div>
                <!-- Plan Feature Lists -->
                <ul class="list-unstyled">
                  <li><i class="fa fa-check text-success"></i> Weekly recorded classes</li>
                  <li><i class="fa fa-check text-success"></i> Access to weekly assessments and mark schemes</li>
                  <li><i class="fa fa-check text-success"></i> Unlimited contact available to tutors</li>
                  <li><i class="fa fa-check text-success"></i> Access to tutor contact</li>
                  <li><i class="fa fa-check text-success"></i> Homework help</li>
                  <li class="text-center"><i class="fa fa-minus text-danger"></i></li>
                  <li class="text-center"><i class="fa fa-minus text-danger"></i></li>
                  <li class="text-center"><i class="fa fa-minus text-danger"></i></li>
                  <li class="text-center"><i class="fa fa-minus text-danger"></i></li>
                  <li class="text-center"><i class="fa fa-minus text-danger"></i><br><br></li>
                  <li class="text-center"><i class="fa fa-minus text-danger"></i></li>
                  <li>
                    <button type="button" class="btn btn-primary btn-block w-100 tf-btn">
                      Get Started Now
                    </button>
                    <p style="font-size: .8em" class="text-uppercase text-center mb-0">(5 day free trial)</p>
                    
                  </li>
                </ul><!-- end Plan Feature Lists -->
              </div><!-- end pricing table wrapper -->
            </div><!-- end Price table #1 -->
            <div class="col-md-6 price2">
              <!-- Price table #2 -->
              <div class="panel panel-default price featured">
                <!-- pricing table wrapper -->
                <div class="panel-heading">Tutor Pro</div>
                <div class="panel-body">
                  <h1><sup>£</sup>99.99<small>/ yearly</small></h1><!-- Plan Price -->
                </div>
                <!-- Plan Feature Lists -->
                <ul class="list-unstyled">
                  <li><i class="fa fa-check text-success"></i> Weekly recorded lessons</li>
                  <li><i class="fa fa-check text-success"></i> Weekly assessments and mark schemes are uploaded</li>
                  <li><i class="fa fa-check text-success"></i> Unlimited contact with tutors</li>
                  <li><i class="fa fa-check text-success"></i> Live lessons</li>
                  <li><i class="fa fa-check text-success"></i> Homework help</li>
                  <li><i class="fa fa-check text-success"></i> Able to access all curriculums from KS1 - KS4</li>
                  <li><i class="fa fa-check text-success"></i> Termly designed reports for students</li>
                  <li><i class="fa fa-check text-success"></i> Expert advice from qualified teachers</li>
                  <li><i class="fa fa-check text-success"></i> Discounted 1-to-1 classes (first come first serve)</li>
                  <li><i class="fa fa-check text-success"></i> Logins provided for educational platforms such as:
                    - Atom Learning
                    - Twinkl
                    - Bedrock
                    - LitCharts</li>
                  <li><i class="fa fa-check text-success"></i> Loads more Pound-Saving Plans </li>
                  <li>
                    <button type="button" class="btn btn-primary btn-block w-100 tf-btn color">Get Started Now</button>
                    <p><br></p>
                  </li>
                </ul><!-- end Plan Feature Lists -->
              </div><!-- end pricing table wrapper -->
            </div><!-- end Price table #2 -->
          </div> <!-- end nested row -->
        </div> <!-- end col 10 with offset 1 to centered -->
      </div> <!-- end outer row -->
    </div>
  </div> <!-- end .price -->
</section>
{% endblock %}
