<!DOCTYPE html>
<html lang="en">

<head>
    {% include '_head.html' %}
    <!-- Template Title -->
    <title>Profile</title>
</head>

<body>
    {% include "navbar.html" %}
    <div class="container">
        <div class="row">
            <div class="col">
              <div class="panel panel-default">
                <div class="panel-heading d-flex valign-center space-between">
                  <span>Children</span>
                  <a class="btn btn-primary btn-sm" href="/addchild">
                      <i class="fa fa-plus-circle"></i> Add a new child
                  </a>
                </div>
                  
                <div style="flex-direction: row; flex-wrap: wrap;" class="panel-body d-flex">
                  {% for student in students %}
                    <div style="width: 18%; margin: 1%;" class="panel panel-default">
                      <div class="panel-heading">
                        {{student.profile.first_name}} {{student.profile.last_name}}
                      </div>
                      <div class="panel-body">
                          <ul class="list-group">
                              {% if student.courses %}
                              {% for course in student.courses %}
                              <li class="list-group-item">{{course.course_name}}</li>
                              {% endfor %}
                              {% else %}
                              <li class="list-group-item">No courses yet</li>
                              {% endif %}
                          </ul>
                        </div>
                    </div>
                    {% endfor %}
                </div>
              </div>



              
                <div class="jumbotron">
                    
                </div>
            </div>
        </div>
    </div>
</body>

</html>