/* =========================================
Author URI: http://webthemez.com/ 
========================================= */


/* =========================================
/* 1 - Google Font
========================================= */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,700);


/* =========================================
 2 - Global Styles
========================================= */
:root {
	--background: hsl(240, 80%, 10%);
  }

body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
  }
  
  
h1 {
	margin-bottom: 30px;
	font-size: 80px;
	font-weight: 100;
}
p{
	font-weight: 300;
	letter-spacing: 0.5px;
}
strong {
	font-weight: 400;
}
img {
	display: block;
	width: 100% \9;
	max-width: 100%;
	height: auto;
}
ul {
	padding: 0;
}
ul li {
	list-style: none;
}

.nav-item1 {
	position:absolute;
	left: 47.7%;
	top: -40%;
	list-style: none;
}

.nav-item2 {
	position:absolute;
left: 57.8%;
top: -40%;
	list-style: none;
}

.nav-item3 {
	position:absolute;
	left:37%;
	top: -40%;
	list-style: none;
}

.nav-item4 {
	position:absolute;
	left:77.8%;
	top: -320%;
	list-style: none;
}

.nav-item5 {
	position:absolute;
	left:77.5%;
	top: -210%;
	list-style: none;
}

.nav-item6 {
	position:absolute;
left: 67.8%;
top: -40%;
	list-style: none;
}

.navbar-default .navbar-toggle {
    border-color: rgb(0, 0, 0);
	text-align: center;
}

.nav-link {
	color:#804037;
}
.nav-link:hover {
	color: rgb(116, 74, 230);
}

.btn-light{
	background-color: #EE9A8F;
}

.btn-light:hover {
	background-color: rgb(147, 212, 255);
}
.navbar-toggle {
    position: absolute;
	text-align: center;
    padding: 9px 10px;
    margin-top: 16px;
    margin-right: 135%;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.navbar-default .navbar-toggle .icon-bar {
	text-align: center;
    background-color: rgb(134, 0, 0);
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #15BD40;
}
.btn-primary {
    color: #fff;
    background-color: #15BD40;
    padding: 10px;
    border-radius: 0;
    border: none;
}



.dark-bg {
	/* background-color: #F5F5F5; */
}
.underline {
	position: relative;
	font-size: 20px;
	max-width: 350px;
	margin: auto;
	margin-bottom: 80px;
	color: #000000;
}

.underline2 {
	position: relative;
	font-size: 20px;
	max-width: 350px;
	margin: auto;
	margin-bottom: 80px;
	color: #ff8e8e;
}


.underline:before {
	position: absolute;
	content: "";
	width: 150px;
	height: 4px;
	background-color: #EE9A8F;
	top: 50%;
	left: 0;
}
.underline:after {
	position: absolute;
	content: "";
	width: 200px;
	height: 4px;
	background-color: #EE9A8F;
	top: 50%;
	right: 0;
}


.underline2:after {
	position: absolute;
	content: "";
	width: 150px;
	height: 5px;
	background-color: #EE9A8F;
	top: 50%;
	right: 28%;
}
.custom-btn {
	background-color: #d6847a;
	color: #ffffff;
	border-radius: 0;

	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.custom-btn2 {
	position:absolute;
	margin-top:-77px;
	margin-left: 20%;
	background-color: #d6847a;
	color: #ffffff;
	border-radius: 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.custom-btn3 {
	position:absolute;
	margin-top:-77px;
	margin-left: 11%;
	background-color: #d6847a;
	color: #ffffff;
	border-radius: 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}


.custom-btn5 {
	position:absolute;
	margin-top:17px;
	margin-left: -20%;
	background-color: #d6847a;
	color: #ffffff;
	border-radius: 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}



.custom-btn:hover {
	background-color: #fff9a9;
	color: rgb(0, 0, 0);
	border-color: transparent;
}


.custom-btn5:hover {
	background-color: #fff9a9;
	color: rgb(0, 0, 0);
	border-color: transparent;
}


.custom-btn2:hover {
	background-color: #fff9a9;
	color: rgb(0, 0, 0);
	border-color: transparent;
}


.custom-btn3:hover {
	background-color: #fff9a9;
	color: rgb(0, 0, 0);
	border-color: transparent;
}
.btn:active, .btn.active {
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.header {
	text-align: center;
	top: 130px;
	width: 80%;
	margin: 0 auto;
}
.services12{
	background-color: rgb(255, 245, 245);
	border-bottom: 4px #EE9A8F solid !important;
	border-radius: 10%;
}

.services13{
	background-color: rgb(255, 245, 245);
	border-bottom: 11px #EE9A8F solid !important;
	border-radius: 40%;
}

.services0{
	border-top: 6px rgba(128, 0, 128, 0.123) solid !important;
	background-color: rgb(222, 214, 255);
	border-bottom: 6px rgba(128, 0, 128, 0.123) solid !important;

}
.h1new{
	font-weight: 300;
}
.header p {
	margin-bottom: 30px;
}
.bg-color {
	background: rgb(255, 213, 173);
	color: #ffe2e2;
}

.carousel-indicators {
	bottom: -50px;
}
.social a {
	display: block;
	width: 40px;
	font-size: 28px;
	border-radius: 100%;
	text-align: center;
	color: #949494;
	margin: 10px 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.social a:hover {
	color: #0099FF;
}
.form-control {
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.form-control:focus,
textarea:focus {
	border-color: #0099FF !important;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}






/* =========================================
   3. Section Header
========================================= */
.top .photo-slide {
	max-width: 252px;
	margin: auto;
	padding-bottom: 50px;
}
.top .photo-slide img {
	width: 252px;
	height: auto;
}
.top .content {
	color: #fff;
}
.top .content h1 {
	font-size: 46px;
	margin-top: 22%;
	margin-bottom: 10px;
}
.top .content h2 {
	font-size: 27px;
	font-weight: 300;
	margin-bottom: 29px;
	line-height: 36px;
	color: #696969;
	font-weight: 400;
	margin-top: 0;
}
.top .content p {
	font-size: 18px;
	margin-bottom: 70px;
	letter-spacing: 1px;
}
.top .content .button a {
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 50px;
	padding: 12px 20px;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.top .content .button a i {
	margin-right: 20px;
}
.top .content .button a:hover {
	background-color: white;
	color: #222;
}
.top .content h1 strong {
    color: #303030 !important;
    font-weight: 600;
}
.carousel-indicators .active {
    width: 18px;
    height: 9px;
    margin: 0;
    background-color: #fff;
}
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0,0,0,0);
    border: 1px solid #fff;
    border-radius: 0;
    width: 18px;
    height: 9px;
}


/* =========================================
   4. Section Menu
========================================= */
.navigation {
	min-height: 70px;
}


.navigation .navbar {
	border: none;
	margin-bottom: 0;
	min-height: 70px;
	padding: 6px 0 2px;
}
.navigation .navbar .navbar-brand {
	color: black;
	font-size: 40px;
	font-weight: 700;
	height: 70px;
	line-height: 35px;
}
.navigation .navbar-default {
	background-color: rgb(0, 0, 0);
	border: none;
	border-radius: 0;
	clear: both;
}
.navigation .navbar-default .navbar-nav>li>a {
	color: black;
	font-weight: 400;
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 14px;
}


.navigation .navbar-default .navbar-nav>li>a:hover,
.navigation .navbar-default .navbar-nav>.active>a,
.navigation .navbar-default .navbar-nav>.active>a:hover,
.navigation .navbar-default .navbar-nav>.active>a:focus {
 	background:none;
 	color:#6d6d6d;


 }
.navigation .btn-default:hover,
.navigation .btn-default:focus,
.navigation .btn-default:active,
.navigation .btn-default.active {
	border-color: black;
}






/* =========================================
   5. Section Features
========================================= */
.features .featured-item-img {
	width: 230px;
	margin-left: -32px;
	margin-right: 0;
	margin-bottom: 50px;
}
.features .header h4 {
	font-size: 24px;
	margin-bottom: 30px;
	font-weight: 300;
}
.featured-item .icon-style {
	width: 60px;
	height: 60px;
	border-radius: 100%;
	border: 1px solid #0099FF;
	text-align: center;
	padding: 15px 0;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.featured-item .icon i {
	font-size: 30px;
	margin-top: 0px;
	color: #0099FF;
}
.featured-item h3 {
	margin-top: 10px;
	margin-bottom: 20px;
	color: #333;
	font-weight: 400;
}
.featured-item p {
	margin-bottom: 50px;
	letter-spacing: 0.5px;
}
.featured-item .meta-text {
	margin-left: 80px;
}
.featured-item .icon {
	width: 60px;
	height: 60px;
	float: left;
}
.featured-item:hover .icon-style {
	border-radius: 0;
}






/* =========================================
   6. Section Screenshots
========================================= */
.owl-carousel { 
	margin-bottom: 50px;
}
.owl-carousel .item {
	margin: 0 10px;
}
.owl-carousel .item img {
	border: 2px solid #ccc;
	border-radius: 5px;
}
.owl-theme .owl-controls{
	margin-top: 25px;
	text-align: center;
}




/* Styling Next and Prev buttons */


.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #869791;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}


/* Styling Pagination*/


.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}


.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
} 


/* If PaginationNumbers is true */


.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}


/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}






/* =========================================
   7. Section Description
========================================= */
.description .app-image {
	max-width: 441px;
	margin: auto;
	margin-bottom: 50px;
}
.description .content h4 {
	font-size: 28px;
	margin-bottom: 30px;
	font-weight: 100;
}
.description .content .button .get-btn {
	padding-right: 30px;
}
.description .content .button a {
	margin-right: 30px;
	margin-bottom: 30px;
	font-weight: 400;
}
.description .content .button i {
	margin-right: 15px;
}
.description .content p {
	margin-bottom: 70px;
	font-weight: 300;
	letter-spacing: 1px;
}
.description .button {
	margin-bottom: 20px;
}
.description-two .content p {
	margin-bottom: 40px;
	font-weight: 300;
	letter-spacing: 1px;
}
.description .content .list-item {
	list-style: none;
	margin: 0;
	padding: 0 0 35px 0;
}
.description .content .list-item li i {
	margin-right: 15px;
	color: #0099FF;
}
.description .content .list-item li{
	margin-bottom: 15px;
}
/* =========================================
   8. Section Testimonial
========================================= */




.testimonial .testimonial-slide {
	width: 70%;
	margin: auto;
	text-align: center;
	margin-bottom: 70px;
}
.testimonial .testimonial-slide .image {
	width: 100px;
	height: 100px;
	margin: auto;
	border: 2px solid #ccc;
	border-radius: 100%;
	overflow: hidden;
	margin-bottom: 50px;
}
.testimonial .testimonial-slide .content p {
	position: relative;
	padding:0 50px;
	margin-bottom: 50px;
	color: #FFFFFF;
}
.testimonial .testimonial-slide .content p:before {
	position: absolute;
	content: "\f10d";
	font-family: FontAwesome;
	font-size: 30px;
	top: 0;
	left:0;
}
.testimonial .testimonial-slide .content p:after {
	position: absolute;
	content: "\f10e";
	font-family: FontAwesome;
	font-size: 30px;
	bottom: 0;
	right: 0;
}


/* =========================================
   9. Section Team
============================================ */
.team {
	text-align: center;
}
.team .app-dev h4 {
	font-size: 28px;
	font-weight: 300;
}
.team .app-dev .title {
	/* margin-top: 30px; */
	padding: 10px 0 12px;
	display: inline-block;
	width: 100%;
}
.team .member {
	width: 263px;
	height: 263px;
	position: relative;
	overflow: hidden;
	display: table;
	margin: auto;
}
.team .member .details {
	width: 263px;
	height: 50px;
	position: absolute;
	background: rgba(21, 189, 64, 0.6);
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	opacity: 0;
	bottom: 0;
}
.team .member img {
	position: absolute;
	width: 263px;
	height: 263px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.team .member .details p {
	color: #fff;
	padding:15px 10px 10px 10px;
	position: absolute;
	top: -100px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.team .member .details .icon {
	position: relative;
	bottom: -105px;
	left: 0px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.team .member .details .icon a {
	color: #fff;
}
.team .member .details .icon ul {
	display: table;
	margin: auto;
}
.team .member .details .icon ul li {
	float: left;
	margin-right: 10px;
}
.team .info:hover .details {
	opacity: 1;
}
.team .info:hover .details p {
	transform: translateY(100px);
	-ms-transform: translateY(100px);
	-webkit-transform: translateY(100px);
}
.team .info:hover .icon {
	transform:translateY(-100px);
	-ms-transform:translateY(-100px);
	-webkit-transform:translateY(-100px);
}
.team .title h5 {
}


/* =========================================
   10. Section Price
========================================= */


.price {
	text-align: center;
	left: 40%;
}



.price .panel-body h1 {
	margin-top: 30px;
	
	margin-bottom: initial;
}

.price.panel-default {
	border-color: #FFF;
	background-color: #EDEDED;
	/* margin-left:43%; */
}

.price.panel-default > .panel-heading {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    color: #282828;
    background-color: #fabebe;
    border-color: inherit;
}
.price .panel-heading { padding: 30px 15px }
.price .panel-body {
	border-bottom: 1px solid;
	border-color: #DBDBDB;
	word-break: break-word;
}
.price ul.list-unstyled {
	text-align: center !important;
	padding: 20px;
}
.price ul.list-unstyled li {
	padding: 10px 0;
}
.price ul.list-unstyled li small { margin-top: -10px }
/* Featured */
.price.featured {
    /* -webkit-box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.31); */
    /* box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.21); */
}
.price.featured.panel-default {
    border-color: #0099FF;
    background-color: #EDEDED;
    margin-top: 0px;
    position: relative;
    z-index: 1;
}
.price.featured.panel-default { border-color: #FFFFFF;}
.price.featured.panel-default > .panel-heading { background-color: #66a8c7;color: #fff;}
.featured .panel-body { margin-top: 0px }
.featured .panel-body,
.featured.panel-default > .panel-heading { }
.featured .tf-btn { margin-top: 20px }






/* =========================================
   13. Section Footer
========================================= */


.footer .contact input {
	width: 100%;
	height: 50px;
	border-radius: 0;
	background-color: transparent;
	margin-bottom: 30px;
}
.footer h1 {
	margin-bottom: 60px;
}
.footer .contact textarea {
	width: 100%;
	border-radius: 0;
	background-color: transparent;
	margin-bottom: 10px;
	outline: 0;
	padding: 10px;
	border: 1px solid #ccc;
	min-height: 210px;
}
.footer .contact .contact-submit {
	padding: 10px 30px;
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 50px;
	background-color: #15BD40;
	border: 2px solid #15BD40;
}
.footer .contact .contact-submit i {
	margin-right: 10px;
}


/* =========================================
   14. Section Copyright
========================================= */
.copyright {
	text-align: center;
	padding: 30px 0;
}


/* as academy logo in navbar */





.headerhigh {
	background-color: rgb(255, 246, 234);
}

.logo {
	position:absolute;
	
left:730px;
top: -9px;
width: 16.5%;
height: 20%;
margin-bottom: 100px;
}

.logo2 {
	position:absolute;
	
left:3%;
top: 23.5%;
width: 12%;
height: 3%;
margin-bottom: 100px;
}

.logo3 {
	position:absolute;
	
left:56%;
top: 26.6%;
width: 28%;

margin-bottom: 100px;
}

.logo4 {
	position:absolute;
	
left:14%;
top: 36%;
width: 34%;

margin-bottom: 100px;
}



#contact{
    padding:10px 0 10px;
  }

  .contact-text{
    margin:45px auto;
  }

  .mail-message-area{
    width:100%;
    padding:0 15px;
  }

  .mail-message{
    width: 100%;
    background:rgba(255,255,255, 0.8) !important;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
    margin:0 auto;
    border-radius: 0;
  }

  .not-visible-message{
    height:0px;
    opacity: 0;
  }

  .visible-message{
    height:auto;
    opacity: 1;
    margin:25px auto 0;
  }

/* Input Styles */

  .form{
    width: 100%;
    padding: 15px;
    background:#f8f8f8;
    border:1px solid rgba(0, 0, 0, 0.075);
    margin-bottom:25px;
    color:#727272 !important;
    font-size:13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

  .form:hover{
    border:1px solid #8BC3A3;
  }

  .form:focus{
    color: white;
    outline: none;
    border:1px solid #8BC3A3;
  }

  .textarea{
    height: 200px;
    max-height: 200px;
    max-width: 100%;
  }
  
/* Generic Button Styles */

  .button{
    padding:8px 12px;
    background:#0A5175;
    display: block;
    width:120px;
    margin:10px 0 0px 0;
    border-radius:3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align:center;
    font-size:0.8em;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }

  .button:hover{
    background:#8BC3A3;
    color:white;
  }

/* Send Button Styles */

  .form-btn{
    width:180px;
    display: block;
    height: auto;
    padding:15px;
    color:#fff;
    background:#8BC3A3;
    border:none;
    border-radius:3px;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin:auto;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }

  .form-btn:hover{
    background:#111;
    color: white;
    border:none;
  }

  .form-btn:active{
    opacity: 0.9;
  }
center{
  margin-top:330px;
}
input {
    position: relative;
    z-index: 9999;
}

.bg-secondary {
	color: #000;
	background-color: rgb(255, 43, 43);
}
.d-flex {
	width: 110%;

}

.valign-center {
	align-items: center !important;
}

.space-between {
	justify-content: space-between !important;
}

.fixbottom {
	padding-bottom: 2.5rem;
}

.footer {
	background: #ffffff;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ffffff, #ffffff);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ffffff, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color:#000;
	position: relative;
	bottom: 0;
	width: 100%;
}

#page-container {
	position: relative;
	min-height: 100vh;  
}



.navbar {
	width: 100%;
	top: 22px;
	border-bottom: 3px #c9948c solid !important;
	height: 47px;
	display: flex;
	background-color:#fab9b0;
}
.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%
}






.testimonials {
	padding: 100px 0;
  }
  .testimonials h3 {
	margin-bottom: 20px;
  }
  .testimonials .card {
	border-bottom: 3px #EE9A8F solid !important;
	transition: 0.5s;
	margin-top: 60px;
  }
  .testimonials .card i {
	background-color: #EE9A8F;
	color: #ffffff;
	width: 75px;
	height: 75px;
	line-height: 75px;
	margin: -40px auto 0 auto;
  }
  








  
  a {
	text-decoration: none;
	margin: 1rem 0;
	font-weight: 600;

	font-size: 1.3rem;
	letter-spacing: 1px;
  }
  

  
  section {
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;
	padding: 30px;
  }
  
  h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: #333;
	font-size: 1.825rem;
	margin: 1.3rem 0;
  }
  
  .section-lead {
	max-width: 600px;
	margin: 1rem auto 1.5rem;
  }
  
  .service a {
	color: #5b7abb;
	display: block;
  }
  
  .service h4 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: #56ceba;
	font-size: 1.3rem;
	margin: 1rem 0 0.6rem;
  }
  
  .services-grid {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
  }
  
  .service {
	background: #fff;
	margin: 20px;
	padding: 20px;
	border-radius: 4px;
	text-align: center;
	-webkit-box-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap;
	border: 2px solid #e7e7e7;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
  }
  
  .service:hover {
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  }
  
  .service i {
	font-size: 3.45rem;
	margin: 1rem 0;
  }
  
  .service1 i,
  .service1 h4,
  .service1 .cta {
	color: #42b7ca;
  }
  
  .service1:hover {
	border: 2px solid #42b7ca;
  }
  
  .service2 i,
  .service2 h4,
  .service2 .cta {
	color: #425fca;
  }
  
  .service2:hover {
	border: 2px solid #425fca;
  }
  
  .service3 i,
  .service3 h4,
  .service3 .cta {
	color: #9c42ca;
  }
  
  .service3:hover {
	border: 2px solid #9c42ca;
  }
  
  .service .cta span {
	font-size: 0.6rem;
  }
  
  .service > * {
	flex: 1 1 100%;
  }
  
  .service .cta {
	align-self: flex-end;
  }
  
  @media all and (max-width:900px) {
	.services-grid {
	  display: -webkit-box;
	  display: flex;
	  -webkit-box-orient: vertical;
	  -webkit-box-direction: normal;
	  flex-direction: column;
	}
  }









  .img-fluid22{
	  position:relative;
	  margin-left: 13%;
	  top: 50px;
  }

  .img-fluid23{
	position:relative;
	margin-left: 0%;
	top: 45px;
}

.img-fluid24{
	position:relative;
	margin-left: 3%;
	top: 35px;
}


.h5new {
	position:absolute;
	left: 13%;
	top: 10%;
	font-size: 1.6rem;
	color: #c27c73;
}













.courses {
	width: 10%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10%;
	
	display: flex;
	flex-direction: column;
  }
  
  .course {
	  width: 10%;
	margin-top: 70px;
	margin-left: 1.4%;
	display: flex;
	flex-wrap: wrap;
  }
  
  .course-preview {
	box-sizing: border-box;
	width: 300px;
	padding: 50px;
	background-color: #fff7f700;
  }
  
  .course-info {
	box-sizing: border-box;
	width: 660px;
	padding: 40px 60px;
  }

  .course-img {
	box-sizing: border-box;
	width: 860px;
	padding: 40px 10px;
  }






  .text-left {
	  margin-left: -75%;
  }


  p {
	  font-size:20px;
  }

  .pplan {
	font-size:20px;
	margin-left: -80%;
	margin-top: -2%;
}





.my-7{
	margin-top: 11%;
	width: 40%;
	margin-left: 25%;
}





.my-8{
	margin-top: 12%;
	width: 40%;
	margin-left: 59%;
}







.container5 {
	height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .button5:focus {
	outline: none;
  }
  
  .button5 {
	float: left;
	min-width: 200px;
	max-width: 300px;
	display: block;
	padding: 0.2em 2em;
	background: none;
	vertical-align: middle;
	position: relative;
	left: 580px;
	top:580px;
	z-index: 1;
	letter-spacing: 2px;
	color: rgb(211, 121, 121);
	font-size: 20px;
	border: 4px solid;

  }
  
  .button5::after {
	content: "";
	background-color: transparent;
	position: absolute;
	top: -20px;
	left: -20px;
	right: -20px;
	bottom: -20px;
	opacity: 0;
	z-index: -1;
  }
  
  .button5:hover::after {
	opacity: 1;
	background-color: #d67272;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  }
  
  .button5,
  .button5:after {
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
  }
  
  .button5:hover {
	  color:rgb(95, 27, 27);
	border: 4px solid #ffffff00;
  }
  
  

  
.h5new1 {
	position:absolute;
	left: 74%;
	top:75%;
	font-size: 1.6rem;
	color: #c27c73;
}